# Exercises Lab16 Cleaning Data

`1.` Use the dataset `"DataSets/currencies.csv"`.  The data are supposed to be currency exchange rates.  But how can there be negative exchange rates?  
>   a.  Get the data into a dataframe and get rid of the column with the most negative numbers.

In [25]:
import pandas as pd
currencies = pd.read_csv("DataSets/currencies.csv")
currencies = currencies.set_index("Unnamed: 0")
currencies.index.name = "date"
currencies.tail()

            dm       ddm     bp      cd        dy      sf
date
860127  0.4181  0.008648  1.397  0.7046  0.005125  0.4929
860128  0.4178 -0.000718  1.406  0.7054  0.005122  0.4937
860129  0.4173 -0.001197  1.403  0.7057  0.005150  0.4930
860130  0.4212  0.009302  1.421  0.7031  0.005193  0.4960
860131  0.4193 -0.004521  1.411  0.7015  0.005219  0.4937

In [26]:
currencies[currencies < 0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 860102 to 860131
Data columns (total 6 columns):
dm     0 non-null float64
ddm    10 non-null float64
bp     2 non-null float64
cd     0 non-null float64
dy     5 non-null float64
sf     0 non-null float64
dtypes: float64(6)
memory usage: 1.2 KB

In [27]:
currencies.drop("ddm", axis=1, inplace=True)
currencies

            dm     bp      cd        dy      sf
date
860102  0.4125  1.460  0.7126  0.005033  0.4892
860103  0.4055  1.437  0.7117 -1.000000  0.4819
860106  0.4104  1.442  0.7113 -1.000000  0.4843
860107  0.4092 -1.000  0.7148  0.004956  0.4834
860108  0.4040 -1.000  0.7132  0.004933  0.4759
860109  0.4100  1.458  0.7167  0.004960  0.4828
860110  0.4050  1.448  0.7172  0.004935  0.4761
860113  0.4046  1.441  0.7141  0.004930  0.4775
860114  0.4042  1.436  0.7098  0.004928  0.4766
860115  0.4071  1.443  0.7102  0.004940  0.4810
860116  0.4052  1.437  0.7130  0.004937  0.4801
860117  0.4056  1.437  0.7140  0.004943  0.4778
860120  0.4056  1.437  0.7140  0.004943  0.4778
860121  0.4061  1.410  0.7120  0.004935  0.4785
860122  0.4065  1.391  0.7118 -1.000000  0.4800
860123  0.4093  1.391  0.7109 -1.000000  0.4841
860124  0.4145  1.394  0.7072 -1.000000  0.4899
860127  0.4181  1.397  0.7046  0.005125  0.4929
860128  0.4178  1.406  0.7054  0.005122  0.4937
860129  0.4173  1.403  0.7057  0.005150  0.4930
860130  0.4212  1.421  0.7031  0.005193  0.4960
860131  0.4193  1.411  0.7015  0.005219  0.4937

>  b.  The `-1.000`s are sentinals for no data.  Do what you need to do to make reasonable guesses at what the data should be.

In [28]:
import numpy as np
currencies.replace(-1, np.nan, inplace=True)

In [29]:
currencies.interpolate()

            dm        bp      cd        dy      sf
date
860102  0.4125  1.460000  0.7126  0.005033  0.4892
860103  0.4055  1.437000  0.7117  0.005007  0.4819
860106  0.4104  1.442000  0.7113  0.004982  0.4843
860107  0.4092  1.447333  0.7148  0.004956  0.4834
860108  0.4040  1.452667  0.7132  0.004933  0.4759
860109  0.4100  1.458000  0.7167  0.004960  0.4828
860110  0.4050  1.448000  0.7172  0.004935  0.4761
860113  0.4046  1.441000  0.7141  0.004930  0.4775
860114  0.4042  1.436000  0.7098  0.004928  0.4766
860115  0.4071  1.443000  0.7102  0.004940  0.4810
860116  0.4052  1.437000  0.7130  0.004937  0.4801
860117  0.4056  1.437000  0.7140  0.004943  0.4778
860120  0.4056  1.437000  0.7140  0.004943  0.4778
860121  0.4061  1.410000  0.7120  0.004935  0.4785
860122  0.4065  1.391000  0.7118  0.004982  0.4800
860123  0.4093  1.391000  0.7109  0.005030  0.4841
860124  0.4145  1.394000  0.7072  0.005078  0.4899
860127  0.4181  1.397000  0.7046  0.005125  0.4929
860128  0.4178  1.406000  0.7054  0.005122  0.4937
860129  0.4173  1.403000  0.7057  0.005150  0.4930
860130  0.4212  1.421000  0.7031  0.005193  0.4960
860131  0.4193  1.411000  0.7015  0.005219  0.4937

>  c.  Notice that the date strings are not daily.  Make them daily and give reasonable values for the data.

In [30]:
type(currencies.index[0])

numpy.int64

In [31]:
new_index = [860100 + d for d in range(1, 32)]
new_index[:8]

[860101, 860102, 860103, 860104, 860105, 860106, 860107, 860108]

In [32]:
currencies = currencies.reindex(new_index)
currencies = currencies.interpolate()
currencies.head()

              dm        bp        cd        dy      sf
date
860101       NaN       NaN       NaN       NaN     NaN
860102  0.412500  1.460000  0.712600  0.005033  0.4892
860103  0.405500  1.437000  0.711700  0.005018  0.4819
860104  0.407133  1.438667  0.711567  0.005002  0.4827
860105  0.408767  1.440333  0.711433  0.004987  0.4835

In [33]:
currencies = currencies.fillna(method="bfill")
currencies.head()

              dm        bp        cd        dy      sf
date
860101  0.412500  1.460000  0.712600  0.005033  0.4892
860102  0.412500  1.460000  0.712600  0.005033  0.4892
860103  0.405500  1.437000  0.711700  0.005018  0.4819
860104  0.407133  1.438667  0.711567  0.005002  0.4827
860105  0.408767  1.440333  0.711433  0.004987  0.4835