# Exercises Lab15 File IO

`1.` `https://simplemaps.com/data/us-cities` provides the data found in "DataSets/Cities.csv".  Get that data into a Pandas DataFrame.  Use DataFrame.head() to see what you have in your dataset.

In [14]:
import pandas as pd
cities = pd.read_csv("DataSets/Cities.csv", index_col=0)
cities.head()

,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
city,,,,,,,,,,,,,,,
Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

`2.`  That gives you a lot of columns, some not so interesting.  Use:
```python
cities.info()
```
to see the columns and the characteristics of each column.

Which are interesting?  Maybe:
```python
interesting = ["state_id", "population", "population_proper", "density"]
```
The `city` label is the index, so it is included automatically.

This will give you just those columns:
```python
cities = cities[interesting]
```

In [15]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36650 entries, Prairie Ridge to Corsica
Data columns (total 15 columns):
city_ascii           36650 non-null object
state_id             36650 non-null object
state_name           36650 non-null object
county_fips          36650 non-null int64
county_name          36650 non-null object
lat                  36650 non-null float64
lng                  36650 non-null float64
population           19359 non-null float64
population_proper    19359 non-null float64
density              36650 non-null float64
source               36650 non-null object
incorporated         36650 non-null bool
timezone             36649 non-null object
zips                 36649 non-null object
id                   36650 non-null int64
dtypes: bool(1), float64(5), int64(2), object(7)
memory usage: 4.2+ MB

In [16]:
cities = cities[["state_id", "population", "population_proper", "density"]]

In [17]:
cities.head()

               state_id  population  population_proper  density
city
Prairie Ridge        WA         NaN                NaN   1349.8
Edison               WA         NaN                NaN    127.4
Packwood             WA         NaN                NaN    213.9
Wautauga Beach       WA         NaN                NaN    261.7
Harper               WA         NaN                NaN    342.1

`4.` Those `NaN` values are not useful when you are looking at the population of each city.

In [18]:
cities = cities.dropna()
cities.head()

          state_id  population  population_proper  density
city
Kahlotus        WA       189.0              189.0    156.0
Washtucna       WA       195.0              195.0    108.0
Toledo          WA       738.0              738.0    708.0
Renton          WA    100953.0           100953.0   1663.0
Chehalis        WA      7498.0             7498.0    523.0

`3.` Sort the data by the population, with the largest being first.

In [19]:
cities.sort_values(by="population", ascending=False, inplace=True)
cities.head()

            state_id  population  population_proper  density
city
New York          NY  19164071.0          8537673.0  10934.0
Los Angeles       CA  12740381.0          3976322.0   3275.0
Chicago           IL   8639278.0          2704958.0   4585.0
Miami             FL   6247425.0           453579.0   4866.0
Dallas            TX   5634307.0          1317929.0   1490.0

`4.` Which 5 cities are the densist?  Which 5 cities have the highest population?

In [20]:
cities.sort_values(by="density", ascending=False, inplace=True)
cities.head()

              state_id  population  population_proper  density
city
Manhattan           NY   1643734.0          1643734.0  27799.0
Guttenberg          NJ     11618.0            11618.0  22980.0
Union City          NJ     69296.0            69296.0  20858.0
West New York       NJ     53343.0            53343.0  20707.0
Hoboken             NJ     54379.0            54379.0  16663.0

`5.` Save your `cities` data as a comma-separated file.

In [21]:
cities.to_csv("DataSets/dense_cities.csv")

In [22]:
dense_cities = pd.read_csv("DataSets/dense_cities.csv", index_col=0)

In [23]:
dense_cities.head()

              state_id  population  population_proper  density
city
Manhattan           NY   1643734.0          1643734.0  27799.0
Guttenberg          NJ     11618.0            11618.0  22980.0
Union City          NJ     69296.0            69296.0  20858.0
West New York       NJ     53343.0            53343.0  20707.0
Hoboken             NJ     54379.0            54379.0  16663.0

`6.` The `cities` DataFrame is not suitable for saving as JSON.  Why not?
> Hint:  `cities.loc["San Jose"]` shows you the data for "San Jose".

In [24]:
cities.loc["San Jose"]

         state_id  population  population_proper  density
city
San Jose       CA   1804359.0          1025350.0   2242.0
San Jose       IL       609.0              609.0    469.0

`8.`  How many lines, words, and characters are in the file `ram_tzu.txt`?

In [25]:
def Count(file_name):
    """Counts the lines, words, and characters in file_name."""
    with open(file_name) as file_object:
        text = file_object.read()
    no_lines = len(text.split('\n'))
    no_words = len(text.split())
    no_chars = len(text)
    return no_lines, no_words, no_chars

def main(file_name="DataSets/ram_tzu.txt"):
    print("{} has {} lines, {} words, {} characters.".format(file_name, *Count(file_name)))
    
main()

DataSets/ram_tzu.txt has 4 lines, 16 words, 82 characters.

`9.`  Make a new file, `ram_tzu_titled.txt` where the first character of each word is capitalized.  Check `?str.title` for help.

In [26]:
def TitleFile(file_name):
    front, ext = file_name.rsplit('.', 1)
    write_file_name = front + "_titled." + ext
    with open(file_name) as read_file:
        with open(write_file_name, "w") as write_file:
            for read_line in read_file:
                write_file.write(read_line.title())
    return write_file_name
                
def PrintFile(file_name):
    print("{}:".format(file_name))
    with open(file_name) as read_file:
        for line in read_file:
            print(line, end='')
    print("----")
    
def main(file_name = "DataSets/ram_tzu.txt"):
    PrintFile(file_name)
    titled_file = TitleFile(file_name)
    PrintFile(titled_file)
    
main()

DataSets/ram_tzu.txt:
Ram Tzu knows this:
When God wants you to do something,
you think it's your idea.
----
DataSets/ram_tzu_titled.txt:
Ram Tzu Knows This:
When God Wants You To Do Something,
You Think It'S Your Idea.
----

`10.` Do:
```python
import glob
?glob.glob
```
to see that:
`glob.glob("*.ipynb")`

will give you a list of all the `ipynb` files in the current directory.

Make a generator, `GetFirstPounds()` that can be used like this:
```python
for notebook, first_pound in GetFirstPounds():
```
and use it to produce this output:

Note: Some of the Lab notebooks need to be read as unicode.

In [27]:
import glob
def GetFirstPounds():
    for file_name in glob.glob("./*.ipynb"):
        with open(file_name, encoding="utf-8") as file_obj:
            for line in file_obj:
                if line.find("#") > -1:
                    yield file_name, line
                    break
                    
def ReportPounds():
    for notebook, first_pound in GetFirstPounds():
        print("{:>40}:{}".format(notebook, first_pound))
        
def main():
    ReportPounds()
    
main()

           ./Lab07_Flow_Of_Control.ipynb:    "# Lab 07 Flow Of Control\n",

           ./Lab03_Container_Types.ipynb:    "# Lab 03 Container Types"

                   ./Lab15_File_IO.ipynb:    "# Lab 15 File IO\n",

        ./Lab14_Dictionary_Marvels.ipynb:    "# Lab 14 Dictionary Marvels"

        ./Lab05_Sorting_Containers.ipynb:    "# Lab 05 Sorting Containers\n",

         ./Lab20_Custom_Data_Types.ipynb:    "# Lab 20 Custom Data Types"

              ./Lab13_Dictionaries.ipynb:    "# Lab 13 Dictionaries\n",

         ./Lab10_Function_Creation.ipynb:    "# Lab 10 Function Creation\n",

                ./Lab01_Data_Types.ipynb:    "# UCSC Extension, Silicon Valley  --  Dec. 10 - 13, 2018"

           ./Lab04_More_Containers.ipynb:    "# Lab 04 More Containers\n",

                  ./Lab18_Grouping.ipynb:    "# Lab 18 Grouping\n",

        ./Lab06_Growing_Containers.ipynb:    "# Lab 06 Growing Containers\n",

        ./Lab11_Applying_Functions.ipynb:    "# Lab 11 Applying Functions "

      ./Lab08_Iterating_A_Sequence.ipynb:    "# Lab 08 Iterating A Sequence"

                 ./Lab19_Generator.ipynb:    "# Lab 19 Generator \n",

                ./Lab17_Timed_Data.ipynb:    "# Lab 17 Timed Data\n",

      ./Lab09_Iterating_Containers.ipynb:    "# Lab 09 Iterating Containers"

     ./Lab02_Functions_And_Imports.ipynb:    "# Lab 02 Functions And Imports"

             ./Lab16_Cleaning_Data.ipynb:    "# Lab 16 Cleaning Data"

    ./Lab12_Functional_Programming.ipynb:    "# Lab 12 Functional Programming"

`11.` Make a function that reads a file and returns the largest number of the same character in a row, which characters have that many in a row.  If the text in the file is:  "You better look at that report as soon as possible.", the return is (2, "tos") because there are 2 in a row of t's, o's, and s's.

In [28]:
def FindNumberOfRepeats(file_name):
    """Returns (most_in_a_row, which_chars)  where there are most_in_a_row
    of each character in which_chars in the file named in the call.
    """
    most_in_a_row = 0
    which_chars = ""
    most_now = 1
    old_char = None
    with open(file_name) as file_object:
        while True:
            char = file_object.read(1)
            if not char:
                break
            if not char.isalnum():
                old_char == ""
                most_now = 1
                continue
            if char == old_char:
                most_now += 1
            else:
                if most_now > most_in_a_row:
                    which_chars = old_char
                    most_in_a_row = most_now
                elif most_now == most_in_a_row != 0:
                    if old_char not in which_chars:
                        which_chars += old_char
                most_now = 1
            old_char = char
    return most_in_a_row, which_chars

def main(file_name="DataSets/small.txt"):
    most_in_a_row, which_chars = FindNumberOfRepeats(file_name)
    whiches = ["{}'s".format(ch) for ch in which_chars]
    if whiches:
        which_str = ', '.join(whiches[:-1]) + ", and {}".format(whiches[-1])
    else:
        which_str = "no characters"
    print("{} has {} in a row of {}.".format(file_name, most_in_a_row, which_str))

main()
main("DataSets/empty.txt")

DataSets/small.txt has 3 in a row of o's, and l's.
DataSets/empty.txt has 0 in a row of no characters.